<span id="<%= "member-#{member.id}-position" -%>" data-members-form-target="membershipEditForm" class="<%= row.toggle_item_class_name -%>"><%= member.profile&.position -%></span>

<%= form_with model: member,
              url: form_url,
              builder: TabularFormBuilder,
              html: form_html_options do |f| %>
  <%= hidden_field_tag :page, params[:page].to_i %>
  <%= hidden_field_tag :per_page, params[:per_page].to_i %>

  <%= text_field_tag "member[position]", row.member.profile&.position %>

  <p>
    <%= f.submit t(:button_change), class: "button -highlight -small" %>
    <%= link_to t(:button_cancel),
                '#',
                data: {
                  action: 'members-form#toggleMembershipEdit',
                  'members-form-toggling-class-param': row.toggle_item_class_name
                },
                class: 'button -small toggle-membership-button' %>
  </p>
<% end %>
